

.title{
    padding-top: 8rem;
    text-align: center;
    padding-bottom: 5rem;
}

h1{
    font-family: 'Ingrid Darling', cursive;
    color: var(--light-secondary-color);
    font-size: 5rem;
    padding-bottom: 1rem;
}

.motto{
    color: white;
}

.book{
    margin-top: 2rem;
    background-color: var(--dark-secondary-color);
    border: solid .3rem var(--dark-secondary-color);
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    font-size: 1rem;
}

.book:hover{
    cursor: pointer;
    background-color: var(--light-prime-color);
    transition: .2s;
}

form{
    text-align: center;
    padding-top: 8rem;
}

.search{
    width: 60%;
    border: solid .1rem var(--dark-secondary-color);
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 03rem;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

section p {
    color: var(--dark-prime-color);
    width: 50%;
    margin-top: 10rem;
}

section img{
    width: 20%;
    border-radius: 5rem;
    box-shadow: 12px 12px 2px 1px  var(--light-secondary-color);
}

.sec2{
display: flex;
}

.sec2div2{
background-color: var(--dark-secondary-color);
margin-right: 5rem;

}

.sec2div2 p{
    padding-left: 3.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 90%;
    color: white;
}

.sec2div2 li{
    padding-left: 3.5rem;
    margin-bottom: .5rem;
    padding-right: 3rem;
    color: var(--light-secondary-color);
    list-style-type: square;
    list-style-position: inside;
}


.sec2div{
    margin-top: -8rem;
    width: 80%;
    margin-left: 10rem;
}

.sec2div p{
    margin-bottom: 4rem;
    width: 80%;

}

.sec2div img{
    width: 80%;
}


.sec3{
    width: 100%;
    background-color: var(--light-prime-color);
    border-top: 5px solid var(--dark-secondary-color);
    border-bottom: 5px solid var(--dark-secondary-color);
}

.sec3 p{
    margin-top: 2.5rem;
    width: 70%;
    padding-bottom: 2rem;
    text-align: center;
}


.sec4 p{
    margin-top: 0rem;
    text-align: center;
    font-weight: bold;
}


form{
    border: 5px solid var(--dark-prime-color);
    width: 80%;
    margin-left: 5rem;
    color: var(--dark-prime-color);
    margin-top: 4rem;
}

form h1{
    margin-top: -5rem;
    color: var(--dark-prime-color);
}

.form{
display: flex;
justify-content: space-evenly;
}

.form div {
    text-align: left;
}


.form div input{
    border-radius: 0.3rem;
    background: #BDBDBD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-left: 3rem;
    margin-bottom: 2rem;
}


.age{
    margin-right: 13rem;
}

form input{
    border-radius: 0.3rem;
    background: #BDBDBD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-bottom: 2rem;
}

.msg{
    margin-right: 13rem;
}

.msgtxt{
    padding-right: 8rem;
    padding-bottom: 8rem;
}


button{
    background-color: var(--dark-prime-color);
    color: var(--light-secondary-color);
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
    border: solid .2rem var(--light-secondary-color);
}

button:hover{
    background-color: var(--light-prime-color);
    border: solid .2rem var(--dark-prime-color);
    cursor: pointer;
    transition: .2s;
    color: var(--dark-prime-color);
}